:root {
    --color1: #1B1924;
    --color2: #975f8c;
    --color3: #D67A66;
    --color4: #F9B361;
}

* {
	font-family: 'Poppins', sans-serif;
}

body
{
	background: var(--color1);
	font-size: 26px;
	color: white;
	margin: 0;
	padding: none;
}

h1, h2, h3, h4, h5, h6
{
	color: var(--color3);
}

form > input, textarea
{
	width: 100%;
}

form
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

a
{
	color: var(--color4);
}

footer
{
	font-size: 0.8em;
	background: #00000022;
}

hr
{
	border-color: var(--color3);
}

.pg
{
	width: 100vw;
	max-width: 100%;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.twogrid
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 500px;
	gap: 20px;
}

.stext
{
	margin-bottom: 2em;
}

.ctext
{
	text-align: center;
}

.ltext
{
	text-align: left;
}

.jtext
{
	text-align: justify;
}

.clearmargin
{
	margin: 0;
}

.sub
{
	font-size: 0.8em;
	letter-spacing: 0.5em;
	color: var(--color2);
}

.transparent
{
	opacity: 0.5;
}

.contentblock
{
	max-width: max(50%, 1000px);
}

.bannerBg
{
	width: 30%;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	opacity: 0.3;
	z-index: -1;
}

.absolute
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.in
{
	animation-name: in;
	animation-duration: 1s;
	animation-fill-mode: both;
}

.abtn
{
	display: inline-block;
	border-radius: 15px;
	border: 2px solid var(--color4);
	background: #00000022;
	padding: 0.5em 1em 0.5em;
	font-weight: bold;
	color: var(--color4);
	text-decoration: none;
	font-size: 0.9em;
	cursor: pointer;
	transition: letter-spacing 0.4s;
}

.abtn:hover
{
	letter-spacing: 0.1em;
}

.sml
{
	padding: 0;
	border: none;
	background: none;
	text-decoration: underline;
	width: 100%;
}

.path
{
	width: 800px;
}

canvas
{
	pointer-events: none;
	opacity: 0.2;
}

.articles
{
	display: flex;
	gap: 12px;
}

.center
{
	display: flex;
	justify-content: center;
	align-items: center;
}

article:nth-child(1)
{
	transform: translateY(10px);
}

article:nth-child(2)
{
	transform: translateY(-32px);
}

article
{
	position: relative;
	padding: 5px 20px;
	width: 200px;
	height: 300px;
	border: 2px solid var(--color3);
	border-radius: 13px;
	background: var(--color1);
}

article > p
{
	height: 220px;
	overflow: hidden;
}

article::before
{
	content: '✕';
	font-weight: bolder;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background: var(--color3);
	border-radius: 500px;
	position: absolute;
	color: var(--color1);
	position: absolute;
	top: -45px;
	left: 85px;
}

.preview
{
	font-size: 0.8em;
}

.gallery
{
	display: grid;
	grid-template-areas: "a b"
						 "c d";
	gap: 6px;
}

.galleryblock
{
	display: grid;
	grid-template-areas: "a b"
						 "a c";
	gap: 6px;
}

.galleryblock:nth-child(2)
{
	grid-template-areas: "a a" "b c";
}

.galleryblock:nth-child(3)
{
	grid-template-areas: "a b" "c b";
}

.galleryblock img
{
	border-radius: 5px;
	filter: saturate(0);
	opacity: 0.5;
	cursor: pointer;
}

.galleryblock img:hover
{
	filter: saturate(1);
}

.ga, .gb, .gc, .gd
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ga
{
	grid-area: a;
}

.gb
{
	grid-area: b;
}

.gc
{
	grid-area: c;
}

.gd
{
	grid-area: d;
}

.tabs
{
	display: flex;
	gap: 12px;
}

.tab
{
	width: 250px;
	height: 240px;
	border: 2px solid var(--color3);
	border-radius: 12px;
	background: var(--color1);
}

.popular
{
	position: relative;
}

.popular::before
{
	position: absolute;
	content: "POPULARNY!";
	font-weight: bold;
	background: var(--color4);
	padding: 0.3em;
	border-radius: 5px;
	font-size: 0.7em;
	right: 10px;
	top: -20px;
}

.bold
{
	font-weight: bold;
}

.viewer
{
	display: none;
	place-items: center;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	background: #00000066;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
}

.viewer button
{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	font-size: 1.2em;
	background: var(--color1);
	color: white;
	border: none;
	border-radius: 500px;
	cursor: pointer;
}

.viewer figure
{
	display: grid;
	place-items: center;
}

.viewer img
{
	width: 80%;
}

nav
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #00000033;
	backdrop-filter: blur(8px);
	z-index: 5;
	height: 50px;
	border-top: 2px solid #ffffff33;
}

nav ul
{
	display: flex;
	list-style-type: none;
	gap: 24px;
	font-size: 0.8em;
}

nav li
{
	cursor: pointer;
}

.res
{
	height: 80px;
}

@keyframes in
{
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

@media all and (max-width: 1200px)
{
	body
	{
		font-size: 20px;
	}

	article
	{
		height: 245px;
	}

	article > p
	{
		height: 180px;
	}

	.contentblock
	{
		max-width: 80%;
	}

	.tab
	{
		width: 200px;
		height: 190px;
	}
}

@media all and (max-width: 1000px)
{
	.path
	{
		display: none;
	}

	.articles, .tabs
	{
		flex-direction: column;
	}

	.twogrid
	{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		width: 100%;
	}

	.gallery
	{
		grid-template-areas: "a" "b" "c" "d";
	}

	.tabs
	{
		gap: 30px;
	}

	.tab
	{
		width: 100%;
	}

	article > p
	{
		height: auto;
	}

	article
	{
		padding: 15px;
		width: 100%;
		height: auto;
	}

	article::before
	{
		display: none;
	}

	article:nth-child(1)
	{
		transform: none;
	}

	article:nth-child(2)
	{
		transform: none;
	}
}