@keyframes in {
    0% {
        transform: translateY(-100px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

:root {
    --color1: #1B1924;
    --color2: #975f8c;
    --color3: #D67A66;
    --color4: #F9B361;
}

* {
    font-family: "Poppins",sans-serif
}

body {
    background: var(--color1);
    font-size: 26px;
    color: #fff;
    margin: 0;
    padding: none
}

label {
    text-transform: uppercase
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color3)
}

form,form>input,textarea {
    width: 100%
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px
}

a {
    color: var(--color4)
}

footer {
    font-size: .8em;
    background: #00000022
}

hr {
    border-color: var(--color3)
}

.pg {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center
}

.twogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    gap: 20px
}

.stext {
    margin-bottom: 2em
}

.ctext {
    text-align: center
}

.ltext {
    text-align: left
}

.fullarticle p,.jtext {
    text-align: justify
}

.clearmargin {
    margin: 0
}

.sub {
    font-size: .8em;
    letter-spacing: .5em;
    color: var(--color2)
}

.transparent {
    opacity: .5
}

.contentblock {
    max-width: max(50%,1000px)
}

.bannerBg {
    width: 30%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: .3;
    z-index: -1
}

.absolute {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.in {
    animation-name: in;
    animation-duration: 1s;
    animation-fill-mode: both
}

.abtn {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid var(--color4);
    background: #00000022;
    padding: .5em 1em;
    font-weight: 700;
    color: var(--color4);
    text-decoration: none;
    font-size: .9em;
    cursor: pointer;
    transition: letter-spacing .4s
}

.abtn:hover {
    letter-spacing: .1em
}

.sml {
    padding: 0;
    border: 0;
    background: 0 0;
    text-decoration: underline;
    width: 100%
}

.path {
    width: 800px
}

canvas {
    pointer-events: none;
    opacity: .2
}

.articles {
    display: flex;
    gap: 12px
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
}

.fullarticle {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px
}

.fullarticle h3 {
    font-size: 2em
}

article:nth-child(1) {
    transform: translateY(10px)
}

article:nth-child(2) {
    transform: translateY(-32px)
}

article {
    position: relative;
    padding: 5px 20px;
    width: 200px;
    height: 300px;
    border: 2px solid var(--color3);
    border-radius: 13px;
    background: var(--color1)
}

article::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 40px;
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(#1b192400,#1b1924)
}

article>p {
    height: 220px;
    overflow: hidden
}

article::before {
    content: "✕";
    font-weight: bolder;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--color3);
    border-radius: 500px;
    color: var(--color1);
    position: absolute;
    top: -45px;
    left: 85px
}

article>a {
    position: absolute;
    bottom: 10px;
    z-index: 1
}

.preview {
    font-size: .8em
}

.gallery,.galleryblock {
    display: grid;
    grid-template-areas: "a b""c d";
    gap: 6px
}

.galleryblock {
    grid-template-areas: "a b""a c"
}

.galleryblock:nth-child(2) {
    grid-template-areas: "a a""b c"
}

.galleryblock:nth-child(3) {
    grid-template-areas: "a b""c b"
}

.galleryblock img {
    border-radius: 5px;
    filter: saturate(0);
    opacity: .5;
    cursor: pointer
}

.galleryblock img:hover {
    filter: saturate(1)
}

.ga,.gb,.gc,.gd {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.ga {
    grid-area: a
}

.gb {
    grid-area: b
}

.gc {
    grid-area: c
}

.gd {
    grid-area: d
}

.tabs {
    display: flex;
    gap: 12px
}

.tab {
    width: 250px;
    height: 240px;
    border: 2px solid var(--color3);
    border-radius: 12px;
    background: var(--color1)
}

.popular {
    position: relative
}

.popular::before {
    position: absolute;
    content: "POPULARNY!";
    font-weight: 700;
    background: var(--color4);
    padding: .3em;
    border-radius: 5px;
    font-size: .7em;
    right: 10px;
    top: -20px
}

.bold,.viewer button {
    font-weight: 700
}

.viewer {
    display: none;
    place-items: center;
    height: 100vh;
    max-height: 100%;
    background: #00000066;
    position: fixed;
    backdrop-filter: blur(5px)
}

h3 {
    font-size: .9em
}

.viewer button {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    background: var(--color1);
    color: #fff;
    border: 0;
    border-radius: 500px;
    cursor: pointer
}

.viewer figure {
    display: grid;
    place-items: center
}

.viewer img {
    width: 80%
}

nav,nav ul {
    display: flex
}

.viewer,nav {
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%
}

nav {
    justify-content: center;
    align-items: center;
    background: #00000033;
    backdrop-filter: blur(8px);
    z-index: 5;
    height: 50px;
    border-bottom: 2px solid #ffffff33;
    overflow-x: auto;
    overflow-y: hidden
}

nav ul {
    list-style-type: none;
    gap: 24px;
    font-size: .8em
}

nav li {
    cursor: pointer;
    opacity: .8;
    transition: opacity .4s
}

nav li:hover {
    opacity: 1
}

.res {
    height: 80px
}

.fixed,nav {
    position: fixed
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: var(--color1)
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--color3)
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color4)
}

@media all and (max-width:1200px) {
    body {
        font-size: 20px
    }

    article {
        height: 245px
    }

    article>p {
        height: 180px
    }

    .contentblock {
        max-width: 80%
    }

    .tab {
        width: 200px;
        height: 190px
    }
}

@media all and (max-width:1000px) {
    .path,article::before {
        display: none
    }

    .articles,.tabs {
        flex-direction: column
    }

    .twogrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%
    }

    .gallery {
        grid-template-areas: "a""b""c""d"
    }

    .tabs {
        gap: 30px
    }

    .tab,article {
        width: 100%
    }

    article {
        padding: 15px;
        height: auto
    }

    article:nth-child(1),article:nth-child(2) {
        transform: none
    }

    article a {
        position: initial
    }
}